[submodule "projects/gps"]
	path = projects/gps
	url = https://github.com/nicolofp/test2.git
[submodule "projects/portfolio"]
	path = projects/portfolio
	url = https://github.com/nicolofp/portfolio.git
